.flex-item {
    color: #66ff00;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    margin: 3px;
    background-color: darkgray;
    flex-basis: 27%;
    max-height: 220px;
}

.flex-item:nth-last-of-type(odd) {
    background-color: black;
   max-height: 100px;
    overflow: hidden;
}

.container {
    border: 2px dashed red;
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.ordered-item {
    align-self:  center;
}